<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_place_after">
        <observer name="onyx_sales_order_save_after" instance="Ultimate\Onyx\Observers\NewOrderObserver" />
    </event>
    <event name="sales_order_state_change_before">
        <observer name="onyx_sales_order_state_change_before" instance="Ultimate\Onyx\Observers\OrderStatusObserver" />
    </event>
    <!-- <event name="customer_register_success">
        <observer name="onyx_customer_create" instance="Ultimate\Onyx\Observers\NewCustomerObserver"/>
    </event> -->
    <event name="customer_login">
        <observer name="onyx_customer_create" instance="Ultimate\Onyx\Observers\NewCustomerObserver"/>
    </event>
</config>